<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>BA103G5</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/BA103G5</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  
  
  <!-- 登入濾器 -->
  <filter>
    <filter-name>loginFilter</filter-name>
    <filter-class>filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/case/applicant_ByF.jsp</url-pattern>
    <url-pattern>/case/applicant_ByH.jsp</url-pattern>
    <url-pattern>/case/DoneByF.jsp</url-pattern>
    <url-pattern>/case/DoneByH.jsp</url-pattern>
    <url-pattern>/case/OnGoByF.jsp</url-pattern>
    <url-pattern>/case/OnGoByH.jsp</url-pattern>
    <url-pattern>/case/updateCase.jsp</url-pattern>
    <url-pattern>/case/case_post.jsp</url-pattern>
    <url-pattern>/message/*</url-pattern>
    <url-pattern>/milestone/*</url-pattern>
    <url-pattern>/timeline/*</url-pattern>
    <url-pattern>/Reported_case/*</url-pattern>
    <url-pattern>/Reported_member/*</url-pattern>
    <url-pattern>/favoriteCase/*</url-pattern>
    <url-pattern>/member/ModifyMember.jsp</url-pattern>
    <url-pattern>/work_manage/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>ASYNC</dispatcher>
  </filter-mapping>
  
  
  <!-- 停權濾器 -->
  <filter>
    <filter-name>suspensiveFilter</filter-name>
    <filter-class>filter.SuspensiveFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>suspensiveFilter</filter-name>
    <url-pattern>/case/case_post.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>ASYNC</dispatcher>
  </filter-mapping>
  

  
  <!-- 讀取圖片工具類別Controller -->
  <servlet>
    <servlet-name>PassImage</servlet-name>
    <servlet-class>com.img.controller.PassImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PassImage</servlet-name>
    <url-pattern>/Image/Image.do</url-pattern>
  </servlet-mapping>
  
  <!-- 案件Controller -->
  <servlet>
    <servlet-name>CaseServlet</servlet-name>
    <servlet-class>com.cs.controller.CaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CaseServlet</servlet-name>
    <url-pattern>/case/case.do</url-pattern>
  </servlet-mapping>
  
  <!-- 檢舉案件Controller -->
  <servlet>
    <servlet-name>Reported_caseServlet</servlet-name>
    <servlet-class>com.reportedcase.controller.Reported_caseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reported_caseServlet</servlet-name>
    <url-pattern>/rpcase/rpcase.do</url-pattern>
  </servlet-mapping>
  
  <!-- 檢舉會員Controller -->
  <servlet>
    <servlet-name>Reported_memberServlet</servlet-name>
    <servlet-class>com.reportedmember.controller.Reported_memberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reported_memberServlet</servlet-name>
    <url-pattern>/rpmember/rpmember.do</url-pattern>
  </servlet-mapping>
  
  <!-- 排行榜Controller -->
  <servlet>
    <servlet-name>RankServlet</servlet-name>
    <servlet-class>com.rank.controller.RankServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RankServlet</servlet-name>
    <url-pattern>/rank/rank.do</url-pattern>
  </servlet-mapping>
  
  <!-- 登入Controller -->
  <servlet>
    <servlet-name>MemberServlet_login</servlet-name>
    <servlet-class>com.member.controller.MemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberServlet_login</servlet-name>
    <url-pattern>/login/member.do</url-pattern>
  </servlet-mapping>
  
  <!-- 註冊Controller -->
  <servlet>
    <servlet-name>MemberServlet_sighup</servlet-name>
    <servlet-class>com.member.controller.MemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberServlet_sighup</servlet-name>
    <url-pattern>/signup/member.do</url-pattern>
  </servlet-mapping>
  
  <!-- 會員Controller -->
  <servlet>
    <servlet-name>MemberServlet</servlet-name>
    <servlet-class>com.member.controller.MemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberServlet</servlet-name>
    <url-pattern>/member/member.do</url-pattern>
  </servlet-mapping>
  
  <!-- 案件里程Controller -->
  <servlet>
    <servlet-name>MilestoneServlet</servlet-name>
    <servlet-class>com.milestone.controller.MilestoneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MilestoneServlet</servlet-name>
    <url-pattern>/milestone/milestone.do</url-pattern>
  </servlet-mapping>
  
  <!-- 時間軸Controller -->
  <servlet>
    <servlet-name>TimelineServlet</servlet-name>
    <servlet-class>com.timeline.controller.TimelineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TimelineServlet</servlet-name>
    <url-pattern>/timeline/timeline.do</url-pattern>
  </servlet-mapping>
  
  <!-- ???Controller -->
  <servlet>
    <servlet-name>ChangeMember</servlet-name>
    <servlet-class>ChangeMember</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeMember</servlet-name>
    <url-pattern>/milestone/ChangeMember</url-pattern>
  </servlet-mapping>
  
  <!-- 信件Controller -->
  <servlet>
    <servlet-name>MessageServlet</servlet-name>
    <servlet-class>com.message.controller.MessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageServlet</servlet-name>
    <url-pattern>/message/message.do</url-pattern>
  </servlet-mapping>
  
  <!-- 下載檔案工具類別Controller -->
  <servlet>
    <servlet-name>FileDownload</servlet-name>
    <servlet-class>com.util.tool.FileDownload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileDownload</servlet-name>
    <url-pattern>/FileDownload/*</url-pattern>
  </servlet-mapping>
  
  <!-- 追蹤案件Controller -->
  <servlet>
    <servlet-name>FavoriteCase</servlet-name>
    <servlet-class>com.favorite_case.controller.FavoriteCaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FavoriteCase</servlet-name>
    <url-pattern>/favoriteCase/favoriteCase.do</url-pattern>
  </servlet-mapping>
  
  <!-- 作品集Controller -->
  <servlet>
		<servlet-name>WorkServlet</servlet-name>
		<servlet-class>com.work.controller.WorkServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WorkServlet</servlet-name>
		<url-pattern>/work_manage/work_manage.do</url-pattern>
	</servlet-mapping>
	
	<!-- 讀取作品集圖片 -->
	<servlet>
		<servlet-name>WorkPicReader</servlet-name>
		<servlet-class>com.work.controller.WorkPicReader</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WorkPicReader</servlet-name>
		<url-pattern>/workpicreader/workpicreader.do</url-pattern>
	</servlet-mapping>
	
	<!-- 送信給客服的程式! -->
	 <servlet>
		<servlet-name>cus_service_msg</servlet-name>
		<servlet-class>com.cus_service_msg.controller.Cus_service_msgServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>cus_service_msg</servlet-name>
		<url-pattern>/cus_serv/cusMail.do</url-pattern><!--(+/) 從哪裡跳轉,就要從哪裡開始 -->
	</servlet-mapping>
</web-app>