.margin-top{
	margin-top:15px;
}

.margin-left{
	margin-left:15px;
}

.margin-right{
	margin-right:60px;
}


.font-record{
	color:#910ece;
}

 .text-right{
 	 text-align: right;
 }
.text-center{
	 text-align: center;
}

td:nth-child(even){
	width: 200px;
	font-size: 14px;
}
td:nth-child(odd){
	width: 200px;
	font-weight: bold;
	font-size: 14px;
}
#new{
	color:#9EE4A7;
}
#new:focus, #new:active, #new:hover, #new:active:focus {
    color:#9EE4A7;
    border-color: #9EE4A7;
}
